[Unit]
Description=Concourse service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/home/jeff/concourse

ExecStartPre=/home/jeff/concourse/clean-up.sh
ExecStart=/home/jeff/concourse/start-concourse.sh
ExecStop=/home/jeff/concourse/stop-concourse.sh

[Install]
WantedBy=multi-user.target