[Unit]
Description=Concourse service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/home/jeff/concourse

# Remove old containers, images and volumes
ExecStartPre=/usr/local/bin/docker-compose down -v
ExecStartPre=/usr/local/bin/docker-compose rm -fv
ExecStartPre=-/bin/bash -c 'docker volume ls -qf "name=concourse_" | xargs docker volume rm'
ExecStartPre=-/bin/bash -c 'docker network ls -qf "name=concourse_" | xargs docker network rm'
ExecStartPre=-/bin/bash -c 'docker ps -aqf "name=concourse_*" | xargs docker rm'

# Compose up
ExecStart=/usr/bin/docker-compose up -d

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose down -v

[Install]
WantedBy=multi-user.target