[Unit]
Description=Concourse service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always

WorkingDirectory=/your/working/path

ExecStartPre=/your/working/path/clean-up.sh
ExecStart=/your/working/path/start-concourse.sh
ExecStop=/your/working/path/stop-concourse.sh

[Install]
WantedBy=multi-user.target